#Faux-Rom{
    height: 85vh;
    width: 60vw;
    margin: 4vh 40vh;
    border: solid 8px black;
}

.headerFaux-Rom {
    background-color: rgb(48, 46, 46);
    font-size: 200%;
    border-bottom: 8px solid black;
    height: 10vh;
    color: white;
    top: 5vh;
}

.headerFaux-Rom .Title{
    position: relative;
    top: 20%;
    left: 2%;
}

.headerFaux-Rom .cross{
    position: relative;
    top: 10%;
}

/*.bigboxlockFaux-Rom{
    background-color: white;
    height: 85vh;
    width: 60vw;
    margin: 4vh 40vh;
    border: solid 8px black;
}*/

.middleboxlock_Faux-Rom {
    background-color: rgb(168, 162, 162);
    height: 75vh;
    height: 100%;
}

.bigboxlockFaux-Rom {
    height: 74vh;
    background-color: white;
    position: relative;
    bottom: 3.5vh;
}

.Faux-RomPass{
    text-align: center;
    position: relative;
    top: 20vh;
}

.Faux-RomPass h1{
    font-size: 1.8rem;
}

#Faux-Rompassword{
    font-size: 5vh;
}

.valideFaux-Rom{
    margin-top: 2vh;
    border: 2px solid black;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    position: absolute;
    left: 25.5vw;
    padding-top: 0.5vh;
}

.bigboxFaux-Rom {
    background-color: rgb(168, 162, 162);
    position: relative;
    bottom: 3.5vh;
}

.middleboxFaux-Rom {
    background-color: rgb(168, 162, 162);
    height: 74.5vh;
}

.titre {
    font-family: 'Koulen', cursive;
    position: relative;
    height: 8vh;
    left: 15vh;
    margin-right: 40vh;
    margin-top: 3vh;
    border: 4px solid black;
    border-radius: 4px;

}

.box1 {
    font-family: 'Koulen', cursive;
    position: relative;
    border: 2px solid black;
    border-radius: 2px;
    left: 10vh;
    margin-right: 60vh;
    bottom: 3vh;
}

.box2 {
    font-family: 'Koulen', cursive;
    position: relative;
    border: 2px solid black;
    border-radius: 2px;
    left: 10vh;
    margin-right: 60vh;
    bottom: 2vh;
}

.box3 {
    font-family: 'Koulen', cursive;
    position: relative;
    border: 2px solid black;
    border-radius: 2px;
    left: 10vh;
    margin-right: 60vh;
    bottom: 1vh;
}

.box4 {
    font-size: 120%;
    text-align: center;
    font-family: 'Koulen', cursive;
    position: relative;
    border: 2px solid black;
    width: 25vh;
    height: 23vh;
    border-radius: 2px;
    left: 80vh;
    bottom: 45vh;
}

.box5 {
    font-size: 120%;
    text-align: center;
    font-family: 'Koulen', cursive;
    position: relative;
    border: 2px solid black;
    width: 25vh;
    border-radius: 2px;
    height: 23vh;
    left: 80vh;
    bottom: 40vh;
}

.iconereg {
    position: relative;
    height: 7vh;
    width: 7vh;
    font-size: 150%;
    left: 6vh;
    top: -2vh;
}   

.middleboxFaux-Rom_para {
    display: flex; 
    background-color: rgb(168, 162, 162);
}

.profilmodif {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh;
    margin: 2vh;
    border: 3px solid black;
    border-radius: 5px;
    width: 50vh;
    /* position: relative;
    left: 60vh;
    bottom: 60vh;
    height: 50vh; */
}

.profil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh;
    margin: 2vh;
    border: 3px solid black;
    border-radius: 5px;
    width: 50vh;
}

.adds {
    border: 3px solid black;
    border-radius: 5px;
    margin: 2vh;
    padding: 2vh;
}

.confirm {
    text-align: center;
}

.retournerFaux-Rom {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2vh;
    position: absolute;
    top: 80vh;
    left: 85vh;
}

