#Faux-Rom{
    height: 85vh;
    width: 60vw;
    margin: 4vh 40vh;
    border: solid 8px black;
}

.headerFaux-Rom {
    background-color: darkgreen;
    font-size: 200%;
    border-bottom: 8px solid black;
    height: 10vh;
}

.headerFaux-Rom .Title{
    position: relative;
    top: 20%;
    left: 2%;
}

.headerFaux-Rom .cross{
    position: relative;
    top: 10%;
}

/*.bigboxlockFaux-Rom{
    background-color: white;
    height: 85vh;
    width: 60vw;
    margin: 4vh 40vh;
    border: solid 8px black;
}*/

.middleboxlock_Faux-Rom {
    background-color: green;
    height: 74vh;
    height: 100%;
}

.bigboxlockFaux-Rom {
    height: 74vh;
    background-color: white;
    position: relative;
    bottom: 3.5vh;
}

.Faux-RomPass{
    text-align: center;
    position: relative;
    top: 20vh;
}

.Faux-RomPass h1{
    font-size: 1.8rem;
}

#Faux-Rompassword{
    font-size: 5vh;
}

.valideFaux-Rom{
    margin-top: 2vh;
    border: 2px solid black;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    position: absolute;
    left: 25.5vw;
    padding-top: 0.5vh;
}



