#Imail{
    background-color: orange;
    height: 85vh;
    width: 60vw;
    margin: 4vh 40vh;
    border: solid 8px black;
}

.headerImail {
    background-color: gray;
    font-size: 200%;
    border-bottom: 8px solid black;
    height: 10vh;
}

.headerImail .Title{
    position: relative;
    top: 20%;
    left: 2%;
}

.headerImail .cross{
    position: relative;
    top: 10%;
}

.bigboxLockImail{
    background-color: white;
    height: 85vh;
    width: 60vw;
    margin: 4vh 40vh;
    border: solid 8px black;
}

.middleboxlock_Imail {
    background-color: yellow;
    height: 74vh;
    height: 100%;
}

.bigboxlock_Imail {
    height: 74vh;
    background-color: white;
    position: relative;
    bottom: 3.5vh;
}

.ImailPass{
    text-align: center;
    position: relative;
    top: 20vh;
}

.ImailPass h1{
    font-size: 1.8rem;
}

#Imailpassword{
    font-size: 5vh;
}

.valideImail{
    margin-top: 2vh;
    border: 2px solid black;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    position: absolute;
    left: 25.5vw;
    padding-top: 0.5vh;
}