#InstaGroove{
    background-color: orange;
    width: 68.2vw;
    margin: 8vh 32.9vh;
    /* border: solid 8px black; */
}

.headerInstaGroove {
    background-color: orangered;
    font-size: 200%;
    border-bottom: 8px solid black;
    height: 10vh;
}

.headerInstaGroove .Title{
    position: relative;
    top: 20%;
    left: 2%;
}

.headerInstaGroove .cross{
    position: relative;
    top: 10%;
}

.bigboxLockInstaGroove{
    height: 61vh;
    background-color: white;
    position: relative;
    bottom: 3.5vh;
}

.middleboxlock_InstaGroove {
    background-color: orange;
    height: 61vh;
    height: 100%;
}

.bigboxlock_InstaGroove {
    height: 61vh;
    background-color: white;
    position: relative;
    bottom: 3.5vh;
}

.InstaGroovePass{
    text-align: center;
    position: relative;
    top: 20vh;
}

.InstaGroovePass h1{
    font-size: 1.8rem;
}

#InstaGroovepassword{
    font-size: 5vh;
}

.valideInstaGroove{
    margin-top: 2vh;
    border: 2px solid black;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    position: absolute;
    left: 30vw;
    padding-top: 0.5vh;
} 

.middleboxInstaGroove{
    background-color: orange;
    height: 63.3vh;

}

.imgpseudo{
    width: 30vh;
    text-align: center;
    /* height: 10vh; */
    flex-direction: column;
    size: 150%;
    /* position: relative; */
    /* right: 35vh; */
    border: 3px solid black;
    border-radius: 4px;
    height: auto;
    position: absolute;
    top: 20vh;
    left: 42vh;
}

.icon {
    font-size: 120%;
    flex-direction: column;
    position: absolute;
    left: 140vh;
    top: 20vh;
}

.iconemess{
    position: relative;
    top: 7vh;
}

.boitedestr {
    display: flex;
    justify-content: space-around;
    width: 50vh;
    position: relative;
    left: 50vh;
    top: 2vh;

}

.publication{
    flex-direction: column;
    position: relative;
    /* left: 5vh; */
    text-align: center;
    font-size: 130%;
}

.abonnes{
    flex-direction: column;
    position: relative;
    /* left: 25vh; */
    text-align: center;
    font-size: 130%;

    
}

.abonnement{
    flex-direction: column;
    position: relative;
    /* right: 5vh; */
    text-align: center;
    font-size: 130%;

}

.bioetbio {
    flex-direction: column;
    position: relative;
    left: 10vh;
    width: 25vh;
    top: 20vh;
}   

.bio{
    font-size: 120%;
    POSITION: RELATIVE;
    top: -5vh;
}

.descbio {
    font-size: 110%;
    border: 3px solid black;
    border-radius: 4px;
    position: relative;
    top: -5vh;
}

.infoInstaGroove {
    flex-direction: column;
    position: relative;
    left: 50vh;
    top: -15vh;
    width: 60vh;
}

.nomuser {
    border: 3px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;

}

.locauser {
    position: relative;
    top: 2vh;
    border: 3px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.pvuser {
    position: relative;
    top: 4vh;
    border: 3px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.questionInstaGroove{
    position: relative;
    left: 20vh;
    flex-direction: column;
    width: 100vh;
    font-size: 130%;
    top: 7vh;
    line-height: 5vh;
}

.pseudoInstaGroove {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -10vh;
}

.locaInstaGroove {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -6vh;
}

.statutcompteInstaGroove {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -6.5vh;
}

.mdpInstaGroove{
    position: relative;
    top: 2vh;
    left: -1vh;
    width: 28vh;
    border: 3px solid black;
    border-radius: 4px;
}

.ConfirmerInfoInstaGroove {
    text-align: center;
    font-size: 130%;
    position: relative;
    top: 15vh;
    border: 2px solid black;
    border-radius: 5px;
    width: 20vh;
    left: 60vh;
}

.retournerInstaGroove{
    position: relative;
    left: 40vh;
    top: 20vh;
    width: 50vh;
    text-align: center;
}

.bigboxInstaGroove_para {
    height: 63.3vh;
}

.middleboxInstaGroove_para {
    height: 63.3vh;
}

.middleboxInstaGroove_mess {
    height: 63.3vh;
}

.bigboxInstaGroove_mess {
    height: 63.3vh;
}

.middleboxInstaGroove_changeMdp {
    background-color: orange;
    margin-left: 15vh;
    margin-right: 14vh;
    height: 63.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bigboxInstaGroove_changeMdp {
    height: 63.3vh;
    background-color: orange;
}

.pseudoInstaGroovechange{
    font-size: 120%;
    position: relative;
    top: 2vh;
}

.locInstaGroovechange{
    font-size: 120%;
    position: relative;
    top: 2vh;
}

.statutInstaGroovechange{
    font-size: 120%;
    position: relative;
    top: 2vh;
}

.retourInstaGroove {
    font-size: 150%;
    position: relative;
    left: 115vh;
    top: 3vh;
}

.form-recherch {
    font-size: 120%;
    position: relative;
    left: 47vh;
    top: 3vh;
}

.defilenom {
    position: relative;
    width: 30vh;
    height: 52.5vh;
    top: 5vh;
    left: 10vh;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 4px;
}

.defile {
    display: flex;
    margin: 2vh;
    border: 2px solid black;
    border-radius: 3px;

}

.defile:hover{
    background-color: orangered;
    box-shadow: 1px 2px 1px black;
}

.defile h3{
    position: relative;
    left: 2vh;
}

.discussion {
    border: 2px solid black;
    height: 50vh;
    position: relative;
    width: 35vw;
    left: 48vh;
    bottom: 47.5vh;
}

.headerdiscuss {
    border-bottom: 3px solid black;
    height: 7vh;
}

.presentationmess {
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 10vh;
}

.arrowpres{
    font-size: 175%;
    border: 5px solid black;
    border-radius: 10px;
}

.headerdiscuss h2 {
    position: relative;
    bottom: 7vh;
    left: 4vh;
}

.poubelle {
    font-size: 130%;
    position: relative;
    margin: 2vh;
    left: 60vh;
    z-index: 10;
}

